@{
    Layout = "_PublicLayout";
}
@model QFX.ViewModels.PublicVm.BuyTicketVm
<style>
    .is-clicked {
        background-color: #9195F6;
        color: white;
    }

    .date:hover {
        background-color: #9195F6;
        color: white;
        cursor: pointer;
    }
    .date-selected{
        background-color: #9195F6;
        color: white;
    }
    .dateTime-hide{
        display: none;
        transition-delay: 1s;
        
    }
    .edit{
        color: #9195F6; 
        cursor: pointer;
    }
    .reserved{
        filter: invert(75%) sepia(29%) saturate(7127%) hue-rotate(203deg) brightness(99%) contrast(95%);
    }
    .selected{
filter: invert(13%) sepia(27%) saturate(6427%) hue-rotate(345deg) brightness(104%) contrast(112%);
    }
    .sold-out{
filter: invert(13%) sepia(27%) saturate(6427%) hue-rotate(345deg) brightness(104%) contrast(112%);
}
    .unavailable{
        filter: opacity(50%);
    }
</style>
<div class=" my-3">
    <div class="row" style="margin-left:15px">
        <div class="col-3">
            <div style="margin-left:70px" class="row">
                <img src="/Public/images/movie/@Model.Show.Movie.ImageUrl"
                    style="width:200px; height:300px; object-fit:contain;" alt="">
            </div>
            <div class="row">
                <h6 style="color: #9195F6;" class="mt-3 text-center">
                    @Model.Show.ShowStatus
                </h6>
            </div>
            <div class="row text-center">
                <h4 style="margin:0" class="text-dark">
                    @Model.Show.Movie.Title
                </h4>
                <small>
                    <span class="px-1 rounded-start rounded-end" style="background-color: black; color:white;">

                        @Model.Show.Movie.Runtime.ToString("h':'mm")
                    </span>
                </small>
            </div>
            <div class="row">
                <small>
                    <p style="line-height: 1.4;" class="">@Model.Show.Movie.Description</p>
                    <div class="mid" id="HiddenDiv" style="display: none;">
                        <strong>Language:</strong>@Model.Show.Movie.Language.Name
                        <br>
                        <strong>Genre:</strong>
                        <p style="display:inline;">
                            @foreach (var genre in Model.Show.Movie.MovieGenres)
                            {
                                @Html.Raw(@genre.Genre.Name + ",")
                            }
                        </p>
                        <br>
                        <strong>Cast:</strong>@Model.Show.Movie.Language.Name
                    </div>
                    <p class="text-center"><button class="border-0" style="color: #9195F6;" id="readMore"
                            onclick="javascript:ShowHide('HiddenDiv')">read more</button>
                    </p>
                </small>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <div class="mx-5">
                        <article>
                            <h5><span>1.</span>Select Date and time slots <span id="sectionDate"></span></h5>
                        </article>

                        <div  id="dateTime">
                            <br>
                            <span>Select Date</span>
                            <div class="row">
                                <div class="col-4">
                                    <small>
                                        <div class="row text-center">
                                            <div class="col-3"> <span>Today</span></div>
                                            <div class="col-3 p-0"><span>Tomorrow</span></div>
                                            <div class="col-3"></div>
                                            <div class="col-3"></div>
                                        </div>
                                    </small>

                                    <div class="row text-center">
                                        @{
                                            foreach (var showDate in Model.ShowDates.DistinctBy(x=>x.Date).OrderBy(x => x.Date))
                                            {
                                                <div  class="col-3" >
                                                    <button class="date-frm-db border-0 rounded-3 d-inline p-0 m-2" value="@showDate.Date" >
                                                        <article id="selectDate" class="border rounded-3 date p-1">
                                                            <p class="m-0 p-0">
                                                                @showDate.Date.ToString("MMM")<br>
                                                            </p>
                                                            <strong>
                                                                <h2 class="m-0">
                                                                    @showDate.Date.ToString("dd")<br>
                                                                </h2>
                                                            </strong>
                                                            <p class="m-0 p-0">@showDate.Date.ToString("ddd")</p>
                                                            <p hidden>@showDate.Date</p>
                                                        </article>
                                                    </button>
                                                </div>
                                            }
                                        }


                                        <div class="col-3"></div>
                                        <div class="col-3"></div>
                                    </div>
                                    @* } *@
                                </div>
                            </div>
                            <hr>

                            <div id="displayTime" class="row" >
                                <div class="time-div">
                                    <strong>
                                        @Model.Show.Audi.Location.CityName
                                    </strong>
                                    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div id ="timeDB" data-show-ids="53" class="timeClass d-inline">

                                    </div>
                                    @* <div id="test" data-show-ids="233">

                                    </div> *@
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <div class="mx-5">
                        <article>
                            <h5 class="">
                                <span class="">2.</span>Pick seat &nbsp; | @Model.Show.Movie.Title 
                                <span id="section-2"></span>
                            
                            </h5>
                        </article>
                        <div id="seat" class="d-none row my-5">
                            <div class="row mt-3">
                                <h4 class="text-center">Screen</h4>
                            </div>
                            <div class="row mt-0">

                                <svg width="300" height="21" viewBox="0 0 300 21" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="nowshowing-svg">
                                    <path
                                        d="M10 9C10 9 56 0 150 0C244 0 290 9 290 9L300 21C300 21 246 14 150 14C54 14 0 21 0 21L10 9Z"
                                        fill="url(#paint0_linear_780_4378)"></path>
                                    <defs>
                                        <linearGradient id="paint0_linear_780_4378" x1="147.916" y1="2.5" x2="147.916"
                                            y2="23.5" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#00aad3"></stop>
                                            <stop offset="0.0833333" stop-color="#00aad3" stop-opacity="0.94"></stop>
                                            <stop offset="0.682292" stop-color="#212027" stop-opacity="0.54"></stop>
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>

                            <div id="showSeat" class="row mt-5">
                                 @* seat render from js *@
                            </div>
                            <div class="mt-5">

                                <div class=" mt-5 row d-flex justify-content-center" >

                                    <div class="col-2 text-center">
                                        <img src="https://d346azgjfhsciq.cloudfront.net/S3/uploads/seatIcons/1684133570541-microsoftteamsimage_6.png" width="24px" height="24px" style="cursor: pointer;">
                                        <br>
                                        <span>
                                            <small>
                                                Available
                                            </small>
                                        </span>
                                    </div>
                                    <div class="col-2 text-center ">
                                        <img class="reserved" src="https://d346azgjfhsciq.cloudfront.net/S3/uploads/seatIcons/1684133570541-microsoftteamsimage_6.png" width="24px" height="24px" style="cursor: pointer;">
                                        <br>
                                        <span>
                                            <small>
                                                Reserved
                                            </small>
                                        </span>
                                    </div>
                                    <div class="col-2 text-center ">
                                        <img class="sold-out" src="https://d346azgjfhsciq.cloudfront.net/S3/uploads/seatIcons/1684133570541-microsoftteamsimage_6.png" width="24px" height="24px" style="cursor: pointer;">
                                        <br>
                                        <span>
                                            <small>
                                                Sold out
                                            </small>
                                        </span>
                                    </div>
                                    <div class="col-2 text-center ">
                                        <img class="selected" src="https://d346azgjfhsciq.cloudfront.net/S3/uploads/seatIcons/1684133570541-microsoftteamsimage_6.png" width="24px" height="24px" style="cursor: pointer;">
                                        <br>
                                        <span>
                                            <small>
                                                Selected
                                            </small>
                                        </span>
                                    </div>
                                    <div class="col-2 text-center ">
                                        <img class="unavailable" src="https://d346azgjfhsciq.cloudfront.net/S3/uploads/seatIcons/1684133570541-microsoftteamsimage_6.png" width="24px" height="24px" style="cursor: pointer;">
                                        <br>
                                        <span>
                                            <small>
                                                Unavailable
                                            </small>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="row d-flex justify-content-center mt-5">
                                <div class="col-2">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                         Launch demo modal
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="confirm" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script type="text/javascript">// <![CDATA[
    function ShowHide(divId) {
        if (document.getElementById(divId).style.display == 'none') {
            document.getElementById(divId).style.display = 'block';
            document.getElementById('readMore').innerHTML = 'read less';
        }
        else {
            document.getElementById(divId).style.display = 'none';
            document.getElementById('readMore').innerHTML = 'read more';


        }
    }

    var test = [1,2,3,4];
    $("#selectedID").val(test);


    function toggleTime() {
        var comp = document.querySelector("")
    }
    //next character
function nextChar(c) {
    return String.fromCharCode(c.charCodeAt() + 1);
}

    //select-date
    const displayTime = document.querySelector('#displayTime');
    displayTime.style.display = displayTime.style.display === 'none' ? '' : 'none';
    document.querySelectorAll('.date')
        .forEach(e=>e.addEventListener("click",function(){
            $('.date').not($(this)).removeClass("date-selected");
            e.classList.toggle("date-selected");
            $("#displayTime").toggle();

        }));
   

    $(".date-frm-db").click(function() {
    var date = $(this).val();
    var movieID = @Model.Show.Movie.ID;
    var url = "/Public/Public/GetTime?date="+ date +"&movieID=" + movieID;
    fetch(url)
    .then((res)=>{
        return res.json()
    }).then((data)=>{ 
        console.log(data)
        const checkShowId = data.data[0].showDate.showID;
        
        let placeholder = $("timeDB");
                let out = "";
        data.data.map((value)=>{
            console.log(value);
            time1 = value.time;
            console.log(time1);
            out += `
                <button class="timeSpan border rounded-3 p-2 text-dark" data-show-ids="${value.id}">${value.time.slice(11,16)}</button>                                 
                 &nbsp; &nbsp;    
            `;

        });
        document.getElementById("timeDB").innerHTML = out;

        var countTime = timelist.length;

for(var i = 0; i<countTime; i++){
    timelist[i].addEventListener("click",myfunction=>{
        $("#seat").removeClass("d-none");
        $("#dateTime").addClass("d-none")
        var sliceDate = date.slice(0,8);
        var clickDate = new Date(sliceDate);
        const formattedDate = clickDate.toLocaleString("en-GB", {
            weekday: 'long',
  day: "numeric",
  month: "short",
});
        var clickTime = event.target.textContent;
        document.querySelector("#sectionDate").innerHTML= `<span>| ${formattedDate}</span><span><small id ='edit' class='edit'>&nbsp;(Edit)<small></span>`;
        $("#edit").click(function(){
            // action goes here!!
            $("#dateTime").removeClass("d-none")
            document.querySelector("#sectionDate").innerHTML="";
            $("#seat").addClass("d-none");
            $("#displayTime").css("display","none");
            $(".date").removeClass("date-selected");
        });
         //get showTimeId from div to fetch ShowSeat based on ShowTimeID
        const showtimeId = event.target.dataset.showIds;
        //set value to vm
    @* @Model.ShowTimeID = showtimeId; *@
        const timeUrl = "/Public/Public/GetSeat?showtimeID="+ showtimeId;
        fetch(timeUrl).then((res)=>{
            return res.json()
        }).then((data)=>{
            console.log(data);
            var column = data.data[0].seat.audi.column;
            var row = data.data[0].seat.audi.row;
            console.log(column);
            console.log(row);
            let itemCount = -1;
             let placeholder = $("showSeat");
            let display = "";
            display=display+"<div class='platinum'><small><span class='d-block text-center'>PLATINUM NRP 300.00</span></small>";

                        var x = 'A';

                        for (var i = 1; i <=column ; i++)
                        {
                            var totalColumn = column;

                            display+="<table id='myTable' class='w-100'><tbody >";
                                    if (i == totalColumn - 2)
                                    {
                                        display+="<div class='mt-5'><small><span class='d-block text-center'>Premium NRP 450.00</span></small></div>";
                                    }
                                    if (i == totalColumn - 1)
                                    {
                                        display+="<div class='mt-5'><small><span class='d-block text-center'>Platinum NRP 300.00</span></small></div>";
                                    }
                                    display+=`<tr class='mx-auto'><td><div><span style='margin:auto;display:block;' class='p-1 m-1 text-center'>${x}</span></div></td>`;
                                        for (var j = 1; j <= row; j++)
                                        {
                                            itemCount++;
                                            display+=`<td id='${x}${j}' class="mx-3 " data-seat-id='${data.data[itemCount].seat.id}'>
                                                <img src="https://d346azgjfhsciq.cloudfront.net/S3/uploads/seatIcons/1684133570541-microsoftteamsimage_6.png" width="24px" height="24px" style="cursor: pointer; margin:auto; display:block;">
                                                <span class="d-block text-center"></span>
                                            </td>`;

                                        }
                                    display+="</tr><br></tbody></table>";
                           x= nextChar(x);
                        }
                display+="</div>";
                document.getElementById("showSeat").innerHTML = display;

                document.querySelectorAll('#myTable td')
        .forEach(e => e.addEventListener("click", function () {
            e.classList.toggle("selected");
            var totalSelected = 0;
            document.querySelector("#section-2").innerHTML=`
                <span>
                    | <img class="d-inline" src="https://d346azgjfhsciq.cloudfront.net/S3/uploads/seatIcons/1684133570541-microsoftteamsimage_6.png" width="24px" height="24px" style="cursor: pointer; margin:auto; display:block;">
                </span>`;
        if (e.lastElementChild.innerHTML === this.id) {
                e.lastElementChild.innerHTML = "";
            } else {
                e.lastElementChild.innerHTML = this.id;
            }
        }));

        const seatIds = [];
document.querySelector("#confirm").addEventListener("click",e=>{
    const selected = document.querySelectorAll("td.selected");
    for(var seat of selected){
        seatIds.push(
            seat.dataset.seatId
        );
    }
    console.log(seatIds);
    const postData = {
        SeatId: seatIds,
        ShowTimeID : data.data[0].showTimeID,
        ShowID : checkShowId
    };
   
    fetch("/Public/CheckOut/Post",{
        method: 'POST',
        body: JSON.stringify(postData),
        headers:{
            'Content-Type':'application/json'
        }
    })
    .then(res => {
                if (!res.ok) {
                    throw new Error('Network response was not ok');
                }
                return res.json();
            })
            .then(x => {
                console.log('Server Response:', x);
                if (x.success) {
                    alert("selected seat send to POST request");
                    window.location.reload();
                } else {
                    alert("Error POST request");
                }
            })

    });


@* }); *@
        }).catch((error)=>{
            console.log(error)
        });

    });
    console.log(timelist[i].innerHTML);
}

    }).catch((error)=>{
        console.log(error)});

        const timelist = document.getElementsByClassName("timeSpan");
});



</script>
