@{
    Layout = "_PublicLayout";
}
@model QFX.ViewModels.PublicVm.DetailVm
@* <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"> *@
<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
<style>
    table {
        border-collapse: separate;
        border-spacing: 0 1em;
    }

    .popup-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .popup-container.show {
        opacity: 1;
        pointer-events: auto;
    }

    .close-button {
        position: absolute;
        top: 30px;
        right: 30px;
        color: #ffffff;
        cursor: pointer;
        font-size: 25px;
    }

    .video-container {
        position: relative;
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .play-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 40px;
        background-color: red;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
        @* background-color: #4caf50; *@

    .play-button svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    @@media only screen and (max-width: 768px) {
        .video-container {
            width: 90%;
            padding-top: 56.25%;
            /* 16:9 aspect ratio */
        }
    }

    @@media only screen and (min-width: 769px) and (max-width: 1024px) {
        .video-container {
            width: 700px;
            height: 393.75px;
            /* 16:9 aspect ratio */
        }
    }

    @@media only screen and (min-width: 1025px) {
        .video-container {
            width: 800px;
            height: 450px;
            /* 16:9 aspect ratio */
        }
    }
</style>
<div class="container my-5">
    <div class="row">
        <div class="col-4">
            <img src="/Public/images/movie/@Model.Movies.ImageUrl" style="width:300px; height:450px; object-fit:contain;" alt="">
        </div>
        <div class="col-8">
            <div class="row">
                <h2 class="text-dark">@Model.Movies.Title</h2>
            </div>
            <div class="row">
                <p class="text-dark">@Model.Movies.Description</p>
            </div>
            <table class="w-75">
                <tr>
                    <td style="color: #9195F6">Title</td>
                    <td class="text-dark">@Model.Movies.Title</td>
                </tr>
                <tr>
                    <td style="color: #9195F6">Release Date</td>
                    <td class="text-dark">@Model.Movies.ReleaseDate.ToString("d MMM,yyyy")</td>
                </tr>
                <tr>
                    <td style="color: #9195F6">Runtime</td>
                    <td class="text-dark">@Model.Movies.Runtime</td>
                </tr>
                <tr>
                    <td style="color: #9195F6">Year</td>
                    <td class="text-dark">@Model.Movies.ReleaseDate.ToString("yyyy")</td>
                </tr>
                <tr>
                    <td style="color: #9195F6">Language</td>
                    <td class="text-dark">@Model.Movies.Language.Name</td>
                </tr>
                <tr>
                    <td style="color: #9195F6">Genre</td>
                    <td class="text-dark">
                        @foreach (var genre in Model.Movies.MovieGenres)
                        {
                            @Html.Raw(@genre.Genre.Name + ",")
                        }
                    </td>
                </tr>
                <tr>
                    <td style="color: #9195F6">Trailer</td>
                    <td><button id="popup-button" class="play-button">
                            @* <svg viewBox="0 0 24 24">
                                <path fill="#ffffff" d="M8,5.14V19.14L19,12.14L8,5.14Z" />
                            </svg> *@
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-play-btn-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2m6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z" />
                            </svg>
                            Watch Now
                        </button>
                        <div id="popup-container" class="popup-container">
                            <span class="close-button" onclick="closePopup()">X</span>
                            <div class="video-container">
                                <iframe id="youtube-iframe" src="" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    function openPopup(videoId) {
        var popupContainer = document.getElementById('popup-container');
        var youtubeIframe = document.getElementById('youtube-iframe');

        youtubeIframe.src = "https://www.youtube.com/embed/" + videoId;
        popupContainer.classList.add('show');
    }

    function closePopup() {
        var popupContainer = document.getElementById('popup-container');
        var youtubeIframe = document.getElementById('youtube-iframe');

        youtubeIframe.src = "";
        popupContainer.classList.remove('show');
    }
    @* var embedID = @Model.Movies.TrailerUrl; *@
        var embedID = @Json.Serialize(Model.Movies.TrailerUrl);
    var popupButton = document.getElementById('popup-button');
    popupButton.addEventListener('click', function () {
        openPopup(embedID);
    });
</script>