
@model QFX.ViewModels.ShowVm.IndexVm

<div class="container">
<form action="">

    <div class="d-flex justify-content-end">
        <button asp-controller="Show" asp-action="Upsert" class="btn btn-primary">Add</button>
    </div>
</form>
    <div class="row">
        <div class="col-12">

            <div class="card shadow" style="width: 100%;>
            <div class=" card-body">
                <div class="toolbar row mb-3">
                    <div class="col">
                        <form class="form-inline">
                            <table class="table table-borderless table-hover">
                                <thead class="text-center">

                                    <tr>
                                        <th>
                                            <h5>
                                                Poster
                                            </h5>
                                        </th>
                                        <th>
                                            <h5>
                                                MovieTitle
                                            </h5>
                                        </th>
                                        <th>
                                            <h5>
                                                Time
                                            </h5>
                                        </th>
                                        <th>
                                            <h5>
                                                Date
                                            </h5>
                                        </th>
                                        <th>
                                            <h5>
                                                ShowStatus
                                            </h5>
                                        </th>

                                        <th>
                                            <h5>
                                                Location
                                            </h5>
                                        </th>
                                        <th>
                                            <h5>
                                                Audi
                                            </h5>
                                        </th>
                                        @* <th>
                                            <h5>
                                                Release Date
                                            </h5>
                                        </th> *@
                                        <th>
                                            <h5>
                                                Action
                                            </h5>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="text-center">
                                    @foreach (var show in Model.Shows)
                                    {
                                        <tr>
                                            <td>
                                                <div class="avatar avatar-md border-0">

                                                    <img src="/Public/images/movie/@show.Movie.ImageUrl" alt="image"
                                                        class="avatar-img rounded ">
                                                </div>
                                            </td>
                                            <td>
                                              <strong class="d-inline-block text-truncate"
                                                    style="max-width: 120px;">@show.Movie.Title</strong>
                                            </td>
                                            <td>
                                                @show.Time.ToShortTimeString()
                                            </td>
                                            <td>
                                                @show.Date.ToString("dd/MM/yyyy")
                                            </td>

                                            <td>
                                                @show.ShowStatus
                                            </td>
                                            <td>
                                                @show.Audi.Location.CityName
                                            </td>

                                            <td>
                                                @show.Audi.Name
                                            </td>
                                           
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-md border-0 more-horizontal" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                        @* <span class="text-muted sr-only">Action</span> *@
                                                        @* <i class="bi bi-three-dots"></i> *@
                                                        @* <i class="bi bi-three-dots-vertical"></i> *@
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-three-dots-vertical"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                                        </svg>

                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <button class="dropdown-item" asp-controller="Movie"
                                                                asp-action="Update" asp-route-id="@show.ID">
                                                                <i class="bi bi-pencil"></i>&nbsp; Edit
                                                            </button>
                                                        </li>
                                                        <li>
                                                            @* <a asp-controller="Image" asp-action="AddMovie"
                                                        asp-route-productId="@movie.ID"
                                                        class="btn border-0 dropdown-item">
                                                        <i class="bi bi-upload"></i>&nbsp Upload multiple
                                                        image
                                                        </a> *@
                                                        </li>
                                                        <li>
                                                            <!-- Button trigger modal -->
                                                            <button class="dropdown-item" type="button"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#exampleModal-@show.ID">
                                                                <i class="bi bi-trash"></i>&nbsp Delete
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>

                                        </tr>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal-@show.ID" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                            Warning!!!
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button asp-action="Delete" class="btn btn-danger"
                                                            asp-controller="Show" asp-route-id="@show.ID"
                                                            class="dropdown-item">
                                                            Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </tbody>

                            </table>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
